body {
  background: black;
  color: #D8DBE2;
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.45;
}


header {
  overflow: hidden;
  width: 90%;
  margin: 0 5% 500px 5%;
}

h1 {
  font-size: 11.089em;
  margin: 0 0 200px 0;
  font-weight: bold;
/*  text-shadow: 3px 3px 5px #f9f9f9;*/
}

h1::first-letter {
  font-size: 1.25em;
}



h1,
h2,
h3 {
  /*  color: #ff0000;*/
  font-family: 'Playfair Display', 'Georgia', 'Times New Roman', 'Times', serif;
  font-weight: normal;

}

h2 {
  font-size: 6.854em;
}

h3 {
  font-size: 4.236em;
}

a {
  border-bottom: 2px solid red;
  color: red;
  padding-bottom: 0.025em;
  text-decoration: none;
}

a:hover {
  color: #ff7777;
}

#intro {
  position: relative;
}

#intro p {
  text-align: justify;
  width: 40%;
  position: relative;
  left: 60%;
}

input {
  background: black;
  border: 2px solid white;
  color: white;
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 10px;
  margin: 10px;
}

input:focus {
  outline: 2px solid #ff2222;
}

#search-container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  float: left;
  width: 50%;
}

#country-search {
  font-size: 1.25em;
}

#search-matches ul {
  background: rgba(10, 10, 10, 0.8);
  position: absolute;
  list-style: none;
  padding-left: 15px;
  margin-top: 0;
  width: 100%;
}

circle.highlight {
  stroke: white !important;
}

svg {
  border: 2px solid white;
  cursor: grab;
  margin: 0 auto;
  shape-rendering: geometricPrecision;
  width: 90%;
}

svg.background {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;

}

svg:active {
  cursor: grabbing
}

text {
  fill: white;
  font-size: 0.75em;
  opacity: 0.7;
  pointer-events: none;
  transition-duration: 500ms;
  z-index: 2;
}

div {
  margin: auto;
  width: 100%;
}

.countryLabel {
  display: none;
}

.countryName {
  fill: #FFFFFF;
}

.countryLabelBg {
  fill: black;
}
