html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: black;
  color: #D8DBE2;
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.45;
}


header,
section {
  overflow: hidden;
  width: 90%;
  margin: 0 5% 0 5%;
  padding-bottom: 300px;
}

h1 {
  font-size: 11.089em;
  margin: 0 0 200px 0;
  font-weight: bold;
  /*  text-shadow: 3px 3px 5px #f9f9f9;*/
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', 'Georgia', 'Times New Roman', 'Times', serif;
  font-weight: normal;

}

h1::first-letter {
  font-size: 1.25em;
}


h2 {
  font-size: 6.854em;
}

h3 {
  font-size: 4.236em;
}

h4 {
  font-size: 1.618em;
  margin-bottom: 0;
  border-bottom: 3px solid white;

}

a {
  border-bottom: 2px solid red;
  color: red;
  padding-bottom: 0.025em;
  text-decoration: none;
}

a:hover {
  color: #ff7777;
}

p {
  position: relative;
}



#intro {
  position: relative;
  transition-duration: 250ms;
}

#intro p {
  font-size: 1.125em;
}


#intro blockquote,
#intro cite {
  display: block;
  line-height: 1em;
  font-family: 'Playfair Display', 'Georgia', 'Times New Roman', 'Times', serif;
  padding-left: 3rem;
}

#intro blockquote {
  font-size: 4.236em;
  margin: 40px 0 10px 10%;
  position: relative;

}

#intro blockquote::before {
  border-left: 5px solid white;
  content: "";
  font-size: 4em;
  top: 10px;
  left: 0;
  position: absolute;
  height: 66%;
  width: 0;
}

#intro cite {
  font-size: 1.618em;
  margin: 25px 0 50px 10%;
}

input,
button {
  background: black;
  border: 2px solid white;
  color: white;
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 10px;
  margin: 10px;
}

input:focus,
button:focus {
  outline: 2px solid #ff2222;
}

#adj-matrix-switches button {
  font-size: 1.3em;
}

#adj-matrix-switches button:focus {
  outline: none;
}

#alliances-adj-matrix-switch:hover,
#alliances-adj-matrix-switch.selected {
  border-color: #55ff55;
  color: #55ff55;
}

#conflicts-adj-matrix-switch:hover,
#conflicts-adj-matrix-switch.selected {
  border-color: #ff0000;
  color: #ff0000;
}

#search-container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  float: left;
  width: 50%;
}

#country-search {
  font-size: 1.25em;
  margin-bottom: 0;
}

#search-matches ul {
  background: rgba(10, 10, 10, 0.8);
  color: #999;
  cursor: pointer;
  position: absolute;
  list-style: none;
  left: 10px;
  padding-left: 15px;
  margin-top: 0;
  width: 100%;
}

#search-matches li:hover {
  color: #d99
}

circle.highlight {
  stroke: white !important;
}

svg {
  /*border: 2px solid white;*/
  cursor: grab;
  margin: 0 auto;
  shape-rendering: geometricPrecision;
  width: 90%;
}

svg.background {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;

}

svg:active {
  cursor: grabbing
}

#timeline {
  position: relative;
}

#timeline svg {
  cursor: default;
}

#timeline svg .conflicts {
  cursor: pointer;
}

#search-container {
  z-index: 2;
}

#timeline-story {
  background: rgb(30, 30, 30, 0.5);
  padding: 0 10px 0 20px;
  position: absolute;
  right: 20px;
  top: 0;
  width: 25%;
}

#timeline-story dt {
  font-size: 1.125em;
}

#timeline-story dd {
  font-size: 0.875em;
}

.infoshow {
  stroke: #ccc;
}

#conflict-graph svg:hover,
#conflict-map svg:hover {
  outline: 1px solid #555;
}

#conflict-map .country:hover {
  stroke-width: 2;
  stroke: white;
}


section .description p:last-child {
  margin-bottom: 100px;
}

text {
  fill: white;
  font-size: 0.75em;
  opacity: 0.7;
  pointer-events: none;
  transition-duration: 500ms;
  z-index: 2;
}

div {
  margin: auto;
  width: 100%;
}

.countryLabel {
  display: none;
}

.countryName {
  fill: #FFFFFF;
}

.countryLabelBg {
  fill: black;
}

#conflict-map {
  margin: auto;
  display: flex;
  position: relative;
  width: 90%;
}

#conflict-graph {
  margin: auto;
  display: flex;
  position: relative;
  width: 90%;
}



#adj-matrix svg {
  cursor: crosshair;
}

footer::before {
  content: "";
  border-top: 2px solid white;
  position: absolute;
  width: 20%;
  left: 40%;
  top: 0px;
}

footer {
  color: #777;
  padding: 20px 0 30px 0;
  position: relative;
  text-align: center;
}

footer div {
  margin: 10px auto;
  width: 80%;
}


@media only screen and (min-width: 500px) {

  p {
    text-align: justify;
    width: 40%;
  }

  #intro p {
    left: 60%;
  }

  footer div {
    width: 50%;
  }


  section .description p {
    width: 60%;
  }

  section:nth-child(even) h3 {
    text-align: right;
  }

  section:nth-child(even) .description p {
    left: 40%;
  }

  #intro blockquote,
  #intro cite {
    margin-left: 60%;
    width: 40%;

  }
}
