body {
  background: black;
  color: #D8DBE2;
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

h1 {
  font-size: 2em;
}

h1, h2 {
  color: #76C3CF;
  font-family: 'Abril Fatface','Georgia', 'Times', serif;
  letter-spacing: 0.05em;
}

svg {
  border: 2px solid white;
  cursor: grab;
  margin: 0 auto;
  width: 90%;
}

svg:active {cursor: grabbing}

text {
  fill: white;
  font-size: 0.75em;
  opacity: 0.7;
  pointer-events: none;
  transition-duration: 500ms;
  z-index: 2;
}

div {
  display: flex;
  margin: auto;
  width: 100%;
}